body {
  margin: 0 5%;
}

body Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body Header img {
  width: 20%;
  margin-top: 2%;
}

body form {
  position: relative;
  margin: 15px 15px 30px 15px;
}

body form input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  background: #edecec;
  border: none;
  border-radius: 5px;
}

body form input::-webkit-input-placeholder {
  color: #b8b8b8;
}

body form input:-ms-input-placeholder {
  color: #b8b8b8;
}

body form input::-ms-input-placeholder {
  color: #b8b8b8;
}

body form input::placeholder {
  color: #b8b8b8;
}

body form input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

body form i {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-right: 15px;
}

body form i::before {
  font-size: 25px;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px;
}

body nav > div {
  position: relative;
  margin: 0 10px;
  border-radius: 5px;
}

body nav > div:first-of-type {
  margin-left: 0;
  background: #477ee9;
}

body nav > div:first-of-type input {
  background: #477ee9;
}

body nav > div:nth-of-type(2) {
  background: #21c795;
}

body nav > div:nth-of-type(2) input {
  background: #21c795;
}

body nav > div:nth-of-type(3) {
  background: #e03c3c;
  margin-right: 0;
}

body nav > div:nth-of-type(3) input {
  background: #e03c3c;
}

body nav > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

body nav > div > div input {
  width: 130px;
  height: 45px;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

body nav > div > div input::-webkit-input-placeholder {
  color: white;
  font-size: 15px;
  border: none;
}

body nav > div > div input:-ms-input-placeholder {
  color: white;
  font-size: 15px;
  border: none;
}

body nav > div > div input::-ms-input-placeholder {
  color: white;
  font-size: 15px;
  border: none;
}

body nav > div > div input::placeholder {
  color: white;
  font-size: 15px;
  border: none;
}

body nav > div > div input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

body nav > div > div i {
  margin-right: 20px;
}

body nav > div > div i::before {
  color: white;
}

body nav > div ul {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  margin-top: 0;
  padding: 5px 20px;
}

body nav > div ul li {
  margin: 0 0 10px;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

body nav > div ul li:hover {
  background: white;
  color: black;
  border-radius: 5px;
}

body section#affichage_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 15px 15px;
}

body section#affichage_tags .tag {
  padding: 10px 15px;
  margin-right: 15px;
  border-radius: 5px;
  list-style-type: none;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
}

body section#affichage_tags .tag.blue {
  background: #477ee9;
}

body section#affichage_tags .tag.green {
  background: #21c795;
}

body section#affichage_tags .tag.red {
  background: #e03c3c;
}

body section#affichage_des_recettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2%;
}

body section#affichage_des_recettes article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc((100%/3) - 30px);
  height: 55vh;
  margin: 15px;
  background: #c9bbbb;
  border-radius: 5px;
}

body section#affichage_des_recettes article section {
  height: 30vh;
  background: #e4e4e4;
  border-radius: 0 0 5px 5px;
}

body section#affichage_des_recettes article section .container_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

body section#affichage_des_recettes article section .container_titre .duree_recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body section#affichage_des_recettes article section .container_titre .duree_recette::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url("/Images/lhorloge.png") center no-repeat;
  background-size: contain;
}

body section#affichage_des_recettes article section .container_infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 0 5% 5% 5%;
  font-size: 14px;
}

body section#affichage_des_recettes article section .container_infos .div_ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

body section#affichage_des_recettes article section .container_infos .div_ingredients p {
  margin: 0;
}

body section#affichage_des_recettes article section .container_infos .description {
  width: 40%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.input_ouvert div {
  height: initial;
}

.input_ouvert div input {
  width: 100%;
  height: 75px;
  opacity: .5;
}

.input_ouvert div i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.input_ferme {
  height: 100%;
}

.input_ferme input {
  height: 75px;
}
/*# sourceMappingURL=style.css.map */