body {
    margin: 0 5%;
    @media screen and (max-width: 1200px) {
        margin: 0;
    }
    Header {
        display: flex;
        justify-content: center;
        img {
            width: 20%;
            margin-top: 2%;
        }
    }
    form {
        position: relative;
        margin: 15px 15px 30px 15px;
        input {
            width: 100%;
            height: 50px;
            padding-left: 20px;
            background: #edecec;
            border: none;
            border-radius: 5px;
            &::placeholder {
                color: #b8b8b8;
            }
            &:focus-visible {
                outline: -webkit-focus-ring-color auto 0px;
            }
        }
        i {
            position: absolute;
            top: 0;
            right: 0;
            display: flex !important;
            align-items: center;
            height: 100%;
            margin-right: 15px;
            &::before {
                font-size: 25px;
            }
        }
    }
    nav {
        display: flex;
        margin: 0 15px;
        &>div {
            position: relative;
            height: fit-content;
            margin: 0 10px;
            border-radius: 5px;
            &:first-of-type {
                margin-left: 0;
                background: #477ee9;
                input {
                    background: #477ee9;
                }
            }
            &:nth-of-type(2) {
                background: #21c795;
                input {
                    background: #21c795;
                }
            }
            &:nth-of-type(3) {
                background: #e03c3c;
                margin-right: 0;
                input {
                    background: #e03c3c;
                }
            }
            &>div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                input {
                    width: 130px;
                    height: 75px;
                    padding-left: 20px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-size: 15px;
                    &::placeholder {
                        color: white;
                        font-size: 15px;
                        border: none;
                    }
                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px;
                    }
                }
                i {
                    margin-right: 20px;
                    cursor: pointer;
                    &::before {
                        color: white;
                    }
                }
            }
            ul {
                column-count: 3;
                column-gap: 30px;
                margin-top: 0;
                padding: 5px 20px;
                li {
                    margin: 0 0 10px;
                    list-style-type: none;
                    font-family: sans-serif;
                    font-size: 15px;
                    color: white;
                    cursor: pointer;
                    &:hover {
                        background: white;
                        color: black;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    section#affichage_tags {
        display: flex;
        margin: 0 15px 15px 15px;
        .tag {
            display: flex;
            align-items: center;
            padding: 2px 15px;
            margin-right: 15px;
            border-radius: 5px;
            list-style-type: none;
            color: white;
            font-family: sans-serif;
            font-size: 13px;
            &.blue {
                background: #477ee9;
            }
            &.green {
                background: #21c795;
            }
            &.red {
                background: #e03c3c;
            }
            i {
                margin-left: 5px;
                cursor: pointer;
                &::before {
                    font-size: 18px;
                }
            }
        }
        h2 {
            display: none;
        }
    }
    section#affichage_des_recettes {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2%;
        article {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: calc((100%/3) - 30px);
            height: 55vh;
            margin: 15px;
            background: #c9bbbb;
            border-radius: 5px;
            @media screen and (max-width: 1405px) {
                height: 60vh;
            }
            @media screen and (max-width: 980px) {
                width: calc((100%/2) - 30px);
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 2% 15%;
            }
            @media screen and (max-width: 479px) {
                width: 100%;
                margin: 2%;
            }
            section {
                height: 30vh;
                background: #e4e4e4;
                border-radius: 0 0 5px 5px;
                @media screen and (max-width: 1405px) {
                    height: 35vh;
                }
                @media screen and (max-width: 1200px) {
                    height: 40vh;
                }
                .container_titre {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 5%;
                    .duree_recette {
                        &::before {
                            content: "";
                            display: block;
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                            background: url("/Images/lhorloge.png") center no-repeat;
                            background-size: contain;
                        }
                        display: flex;
                        align-items: center;
                    }
                }
                .container_infos {
                    display: flex;
                    gap: 30px;
                    padding: 0 5% 5% 5%;
                    font-size: 14px;
                    .div_ingredients {
                        display: flex;
                        flex-direction: column;
                        width: 60%;
                        p {
                            margin: 0;
                        }
                    }
                    .description {
                        width: 40%;
                        height: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        h2 {
            display: none;
        }
    } 
    section#aucune_recette {
        margin: 5% 20%;
        p {
            text-align: center;
            font-family: sans-serif;
            line-height: 1.5;
            font-size: 18px;
        }
        h2 {
            display: none;
        }
    }
}

.input_ouvert input {
    width: 100%;
    opacity: .5;
}

.bold {
    font-weight: bold;
}

